doctype html
head
  title Report
  header Report
  style(type='text/css').
    table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: #4a4a4a;
    }
    .input-container,header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #4a4a4a;
    }
    header {
    margin-top: 40px;
    font-size: 28px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 30px;
    }
    .input-container label {
    margin-right: 0.5rem;
    margin-left: .5rem;
    color: #4a4a4a;
    }
    .input-container input {
    flex: 1;
    height: 30px;
    border-radius: 100px;
    padding-left: 10px;
    }
    div {
      font-size: 12px;
      display: block;
      margin-top:7px;
      color: #4a4a4a
    }
    th,
    td {
    padding: 0.5rem;
    text-align: left;
    border: 1px solid #ddd;
    }
    th {
    background-color: #f2f2f2;
    font-weight: bold;
    }
    h3 {
      margin-left:10px;
      font-size: 14px;
      display: block;
      font-style: bold;
      font-weight:900;
      color: #000;
    }
.input-container
  h3 Rank:
    div #{order.rank}
  h3 Gender:
    div #{order.gender}
  h3 Seat Type:
    div #{order.seatType}
  h3 Preferred Colleges:
    div #{order.institute}
  h3 Preferred Branches:
    div #{order.academicProgramName}
table
  thead
    th Serial No.
    th Academic Programe
    th Institute
    th Opening Rank
    th Closing Rank
  tbody
    for data, index in collegeData
      tr
        td= index+1
        td= data.academicProgramName
        td= data.institute
        td= data.openingRank
        td= data.closingRank
